<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>mg_Addin_sample_arcgis</Name><AddInID>{6f773324-bb41-440b-9078-d72075b012f4}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image>Images\spyder.png</Image><Author>MG</Author><Company>BUAA</Company><Date>08/26/2018</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="mg_arcgis_sample_addin.py" namespace="mg_arcgis_sample_addin"><ArcMap>
    <Commands>
        <Button caption="open_shps" category="mg_Addin_sample_arcgis" class="ButtonClass_Open" id="mg_arcgis_sample_addin.button_open" image="Images\openHS.png" message="" tip="open shps based on cfg files"><Help heading="" /></Button>
        <Button caption="save_shps" category="mg_Addin_sample_arcgis" class="ButtonClass_Save" id="mg_arcgis_sample_addin.button_save" image="Images\filesave.png" message="" tip="save shp to txt"><Help heading="" /></Button>
        <Button caption="close_shps" category="mg_Addin_sample_arcgis" class="ButtonClass_Close" id="mg_arcgis_sample_addin.button_close" image="Images\Delete_black_32x32.png" message="" tip="close shps not save"><Help heading="" /></Button>
        <Button caption="create_from_label" category="mg_Addin_sample_arcgis" class="ButtonClass_Create_From_Label" id="mg_arcgis_sample_addin.button_create_from_label" image="Images\GoToParentFolderHS.png" message="" tip="create shps from label file"><Help heading="" /></Button>
        <Button caption="About" category="mg_Addin_sample_arcgis" class="ButtonClass_About" id="mg_arcgis_sample_addin.button_about" image="Images\readme.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="mg_Toolbar" category="mg_Addin_sample_arcgis" id="mg_arcgis_sample_addin.toolbar" showInitially="true"><Items><Button refID="mg_arcgis_sample_addin.button_open" /><Button refID="mg_arcgis_sample_addin.button_save" /><Button refID="mg_arcgis_sample_addin.button_close" /><Button refID="mg_arcgis_sample_addin.button_create_from_label" /><Button refID="mg_arcgis_sample_addin.button_about" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>